# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Carthage
Carthage
Cartfile.resolved
.gitmodules

## AppCode
.idea

# Custom
MoblicoSDK.framework
docs


# FauxPas

## Temporary files
*.swp

## The Xcode build folder
build/
DerivedData/

## Xcode private settings files
*.mode1v3
*.mode2v3
*.perspectivev3

## Xcode moved-aside files
*.moved-aside
